@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Chester Brass Band</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin:700|Montserrat|Open+Sans" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="my-parallax" id="banner"></div>
  <ul id="bands-dropdown" class="dropdown-content light-blue-text text-darken-2">
    <li><a href="/main-band">MAIN BAND</a></li>
    <li class="divider"></li>
    <li><a href="/training-band">TRAINING BAND</a></li>
    <li class="divider"></li>
    <li><a href="/junior-band">JUNIOR BAND</a></li>
  </ul>
  <ul id="bands-dropdown-small" class="dropdown-content">
    <li><a href="/main-band">MAIN BAND</a></li>
    <li><a href="/training-band">TRAINING BAND</a></li>
    <li><a href="/junior-band">JUNIOR BAND</a></li>
  </ul>
  <nav id="nav-container" class="transparent z-depth-0" role="navigation">
    <div id="logo-container">
      <a href="#" data-activates="nav-mobile" id="hamburger" class="button-collapse my-hide-on-med-and-up valign-wrapper"><i class="material-icons hamburger-icon">menu</i></a>
      <a class="my-brand-logo" href="/"><img id="logo" src="/img/clock_web.png" width=100% height=100%></a>
      <div id="title" class="valign-wrapper"><a href="/"><h3>CHESTER BRASS BAND</h3></a></div>
    </div>
    <div id="nav-background" class="nav-background z-depth-1 my-hide-on-med-and-down scale-transition scale-out">
      <div class="clock-icon z-depth-1"><a href="/"><img id="logo" src="/img/clock_face.png" width=100% height=100%></a></div>
    </div>
    <ul class="right my-hide-on-small-only nav-items nav-items-fixed">
      <li><a class="dropdown-button nav-item" data-activates="bands-dropdown" href="#"><div id="bands-div">BANDS<i class="material-icons right">arrow_drop_down</i></div></a></li>
      <li><a href="#" class="nav-item">VACANCIES</a></li>
      <li><a href="#" class="nav-item">CONTACT US</a></li>
      <li><a href="#" class="nav-item">WHAT'S ON</a></li>
      <li><a href="#" class="nav-item">GALLERY</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">HOME</a></li>
      <li><a class="dropdown-button" data-activates="bands-dropdown-small" href="#">BANDS<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#">VACANCIES</a></li>
      <li><a href="#">CONTACT US</a></li>
      <li><a href="#">WHAT'S ON</a></li>
      <li><a href="#">GALLERY</a></li>
    </ul>
  </nav>
  
  <div id="contents">
    @RenderBody()
  </div>

  <footer class="page-footer blue darken-3">
    <div class="container">
      <div id="footer-row" class="row no-margin">
        <div class="col m4 s12 hide-on-small-only">
          <p class="grey-text text-lighten-4">© 2017 <a class="amber-text text-lighten-1" href="#">Ryan Jones</a> and Chester Band, All Rights Reserved, Registered charity 508473.</p>
        </div>
        <div class="col m4 s12">
          <p class="grey-text text-lighten-4 social-container">
            <a href="#" class="social-icon grey-text text-lighten-4"><i class="small fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="social-icon grey-text text-lighten-4"><i class="small fa fa-twitter" aria-hidden="true"></i></a>
          </p>
        </div>
        <div class="col m4 s12 text-button">
          <a href="#" class="nav-item" style="display: inline-block"><p class="grey-text text-lighten-4">GET IN TOUCH</p></a>
        </div>
        <div class="col m4 s12 hide-on-med-and-up">
          <div class="divider hide-on-med-and-up" style="margin: 1px;"></div>
          <p class="grey-text text-lighten-4">© 2017 <a class="orange-text text-lighten-3" href="#">Ryan Jones</a> and Chester Band, All Rights Reserved, Registered charity 508473.</p>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/Scripts/materialize.js"></script>
  <script src="/Scripts/init.js"></script>
  <script src="https://use.fontawesome.com/5658300424.js"></script>

  </body>
</html>
